################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/KursovaProject/KursovaWork/.vs/KursovaWork/FileContentIndex/b4d4dd66-10e5-4b61-9d7a-f4ff27491f02.vsidx
/KursovaProject/KursovaWork/.vs/KursovaWork/FileContentIndex/read.lock
/KursovaProject/KursovaWork/.vs/KursovaWork/FileContentIndex/e772a5ef-e65f-4c26-9582-f78766f2d46f.vsidx
/KursovaProject/KursovaWork/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/KursovaProject/KursovaWork/obj/Debug/net7.0/KursovaWork.assets.cache
/KursovaProject/KursovaWork/obj/Debug/net7.0/KursovaWork.GeneratedMSBuildEditorConfig.editorconfig
/KursovaProject/KursovaWork/obj/Debug/net7.0/KursovaWork.csproj.AssemblyReference.cache
/KursovaProject/KursovaWorkBLL/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/KursovaProject/KursovaWorkBLL/obj/Debug/net7.0/KursovaWorkBLL.csproj.AssemblyReference.cache
/KursovaProject/KursovaWorkBLL/obj/Debug/net7.0/KursovaWorkBLL.assets.cache
/KursovaProject/KursovaWorkBLL/obj/Debug/net7.0/KursovaWorkBLL.GeneratedMSBuildEditorConfig.editorconfig
/KursovaProject/KursovaWorkDAL/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/KursovaProject/KursovaWorkDAL/obj/Debug/net7.0/KursovaWorkDAL.assets.cache
/KursovaProject/KursovaWorkDAL/obj/Debug/net7.0/KursovaWorkDAL.GeneratedMSBuildEditorConfig.editorconfig
