################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/KursovaProject/KursovaWork/.vs/KursovaWork/FileContentIndex/b4d4dd66-10e5-4b61-9d7a-f4ff27491f02.vsidx
/KursovaProject/KursovaWork/.vs/KursovaWork/FileContentIndex/read.lock
